.bg-bodyimage {
  background: url("https://img.wallpapersafari.com/desktop/1920/1080/21/76/4JuiKv.jpg")
    center;
  background-size: cover;
}

.text-color {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.btn-rounded {
  border-radius: 15%;
  background-color: rgb(29, 199, 29);
  color: blue;
}

.drop-shadow {
  box-shadow: whitesmoke;
}

.article-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card-color {
  background: blue;
}

.card-main-color {
  background: transparent;
  border: none;
}

.video-style {
  width: 100%;
  max-width: 560px;
}

.button-spillout {
  position: absolute;
  bottom: -1em;
  right: 40%;
  border: 2px solid var(--primary);
  border-radius: 15%;
  background-color: rgb(29, 199, 29);
  color: blue;
  padding: 0.25em;
}

.cards-col {
  margin-bottom: -150px;
}

.card-spillout {
  border: 4px solid var(--gray);
}

.card-ht {
  height: 420px;
}
